@model IEnumerable<Assignment2.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-danger" role="alert"><h2 style="text-align:center;">Clients</h2></div>


<p>
    <a asp-action="Create">Create a new Client</a>
</p>
<br />
<p>
    <a asp-action="Index" asp-controller="MembersNew">Click here to see Members of the Club</a>
</p>
<br />
<p>
    <a asp-action="Index" asp-controller="Smes">Click here to see President</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ClientID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClientID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
