@model IEnumerable<Assignment2.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<div class="alert alert-warning" role="alert"><h2 style="text-align:center;">Members of the Coding Club</h2></div>

<p>
    <a asp-action="Create">Add a new member to the Coding Club</a>
</p>
<br />

<p>
    <a asp-action="Index" asp-controller="Clients">Click here to see avaiable clients</a>
</p>
<br />
<p>
    <a asp-action="Index" asp-controller="Smes">Click here to see President</a>
</p>



<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Classification)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
